*.o
*.hi
*.so
*.so.*
*.a
*.obj
*.flb
*.pla
!TALM/asm/examples/*.pla
*.log
config.mk
ghc-deps/
build/
analysis
synthesis
codegen
supersgen
src/Analysis/Lexer.hs
src/Analysis/Parser.hs
Supers.hs
supers_rts_init.o
perf.data
test/df-output/
test/ast-output/
test/talm/
test/supers/
TALM/interp/interp
__pycache__/
*.pyc
results/runs/
.venv/
runs/
